<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Test</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrapper wrapper">
        <h1 class="header__logo">name company</h1>
        <div class="nav__wrapper">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item nav__item_active">
                <a href="#news">Новости</a>
              </li>
              <li class="nav__item">
                <a href="#projects">Проекты</a>
              </li>
              <li class="nav__item">
                <a href="#contacts">Контакты</a>
              </li>
            </ul>
          </nav>
          <a href="tel:+78888888888" class="header__tel">+7(888)-888-88-88</a>
        </div>
      </div>
    </header>
    <section class="section__promo">
      <div class="promo__wrapper wrapper">
        <h2 class="promo__title">
          Лидер в разработке интегрированных и высоконагруженных интернет
          решений
        </h2>
        <button class="promo__order">Заказать</button>
      </div>
    </section>
    <main class="main">
      <div class="main__wrapper wrapper">
        <h3 class="main__title">Новости</h3>
        <div class="news-wrapper">
          <article class="news">
            <img
              src="./img/news1.jpg"
              alt="картинка к новости"
              class="news__img"
            />
            <h4 class="news__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, ducimus.</h4>
            <hr class="news__line" />
            <p class="news__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis et, ab distinctio animi ratione excepturi suscipit
              doloremque perspiciatis similique ut aspernatur nemo cum
              accusantium velit nostrum rerum praesentium est! Architecto
              aperiam nulla exercitationem mollitia molestias autem voluptatem
              nobis hic vitae.
            </p>
          </article>
          <article class="news">
            <img
              src="./img/news2.jpg"
              alt="картинка к новости"
              class="news__img"
            />
            <h4 class="news__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
            <hr class="news__line" />
            <p class="news__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis et, ab distinctio animi ratione excepturi suscipit
              doloremque perspiciatis similique ut aspernatur nemo cum
              accusantium velit nostrum rerum praesentium est! Architecto
              aperiam nulla exercitationem mollitia molestias autem voluptatem
              nobis hic vitae.
            </p>
          </article>
          <article class="news">
            <img
              src="./img/news3.jpg"
              alt="картинка к новости"
              class="news__img"
            />
            <h4 class="news__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis!</h4>
            <hr class="news__line" />
            <p class="news__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis et, ab distinctio animi ratione excepturi suscipit
              doloremque perspiciatis similique ut aspernatur nemo cum
              accusantium velit nostrum rerum praesentium est! Architecto
              aperiam nulla exercitationem mollitia molestias autem voluptatem
              nobis hic vitae.
            </p>
          </article>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__wrapper wrapper">
        <p class="footer__text">
          © Test text
        </p>
        <button class="footer__sunscribe">Подписаться</button>
      </div>
    </footer>
  </body>
</html>
